/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
body{

    background-color: rgba($color: $base-color, $alpha: 1);
    margin: 0px;
    padding: 0px;
}
* {
    font-family: 'JetBrains Mono', monospace;
    color: $fourth-color;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  /* Get rid of default border in Firefox. */
  
  /* Dimensions */
  width: 250px;
  height: 20px;
  background-color: bisque;
  border-radius: 10px;
}
progress[value]::-moz-progress-bar { 
  background-color: orangered;
}
progress[value]::-webkit-progress-value {
  background-color: orangered;
}